/node_modules
/public/hot
/public/storage
/public/audios
/public/videos
/public/images
/public/assets
/storage/*.key
/vendor
.idea
.vscode
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
/storage/settings.json
mysql_database
postgres
/storage/horizon.log
/docker/.docker.env
/docker/.laravel.env
